/* THEME 2 */
@media screen {
    body#theme2{
        background-color: var(--t2-main-background-white);
        color: var(--t2-dark-grayish-yellow-text);
    }
    #theme2 input[type=range]{
        background-color: var(--t2-keypad-background-white);}
        #theme2 input[type=range]::-webkit-slider-thumb{
            background-color: hsl(25, 98%, 50%) ;
            
        } #theme2 input[type=range]::-webkit-slider-thumb:active{
            background-color: hsl(25, 98%, 60%) ;
            
        }
        #theme2 .solution input{background-color: var(--t2-screen-background-white);}
        #theme2 .keys-container{background-color: var(--t2-keypad-background-white);}
        #theme2 .normal-keys{color:var(--t2-dark-grayish-yellow-text) ;}  
        #theme2 input.del-key{
            background-color: var(--t2-key-background-cyan);
            box-shadow: 0px 3px var(--t2-key-shadow-cyan);
        } 
        #theme2 input.reset-key{
            background-color: var(--t2-key-background-cyan);
            box-shadow: 0px 3px var(--t2-key-shadow-cyan);
        }
        #theme2 input.del-key:active{background-color: hsl(185, 42%, 47%);}
        #theme2 input.reset-key:active{background-color: hsl(185, 42%, 47%);}
        #theme2 input.sum-key{
            background-color: var(--t2-key-background-orange);
        }
        #theme2 input.sum-key:active{
            background-color: hsl(25, 98%, 50%);
        }
    }
    /* THEME 2 END */

    /* THEME 3 */
@media screen {
    body#theme2{
        background-color: var(--t2-main-background-white);
        color: var(--t2-dark-grayish-yellow-text);
    }
    #theme2 input[type=range]{
        background-color: var(--t2-keypad-background-white);}
        #theme2 input[type=range]::-webkit-slider-thumb{
            background-color: hsl(25, 98%, 50%) ;
            
        } #theme2 input[type=range]::-webkit-slider-thumb:active{
            background-color: hsl(25, 98%, 60%) ;
            
        }
        #theme2 .solution input{background-color: var(--t2-screen-background-white);}
        #theme2 .keys-container{background-color: var(--t2-keypad-background-white);}
        #theme2 .normal-keys{color:var(--t2-dark-grayish-yellow-text) ;}  
        #theme2 input.del-key{
            background-color: var(--t2-key-background-cyan);
            box-shadow: 0px 3px var(--t2-key-shadow-cyan);
        } 
        #theme2 input.reset-key{
            background-color: var(--t2-key-background-cyan);
            box-shadow: 0px 3px var(--t2-key-shadow-cyan);
        }
        #theme2 input.del-key:active{background-color: hsl(185, 42%, 47%);}
        #theme2 input.reset-key:active{background-color: hsl(185, 42%, 47%);}
        #theme2 input.sum-key{
            background-color: var(--t2-key-background-orange);
        }
        #theme2 input.sum-key:active{
            background-color: hsl(25, 98%, 50%);
        }
    }
    /* THEME 3 END */



:root{
    /*// GLOBAL //*/
        --mobile-width:375px;
        --desktop-width:1440px;
        --white-text:hsl(0, 0%, 100%);
        --default-font-size:32px;
        --default-font-weight:700;
        /* ///////////////////////////////////////////////////////////// */
    /* -THEME 1- */
        /* Backgrounds */
        --t1-main-background-desurated-blue: hsl(222, 26%, 31%);
        --t1-keypad-background-desurated-blue: hsl(223, 31%, 20%);
        --t1-screen-background-desurated-blue: hsl(224, 36%, 15%);
    
        /* Keys */
        --t1-key-background-dark-blue:hsl(225, 21%, 49%);
        --t1-key-shadow-dark-blue:hsl(224, 28%, 35%);
    
        --t1-key-background-red:hsl(6, 63%, 50%);
        --t1-key-shadow-red:hsl(6, 70%, 34%);
    
        --t1-key-background-gray:hsl(30, 25%, 89%);
        --t1-key-shadow-gray:hsl(28, 16%, 65%);
        /* Text */
        --t1-dark-grayish-blue-text:hsl(221, 14%, 31%); 
    /* ///////////////////////////////////////////////////////////// */
        
    /* -THEME 2- */
        /* Backgrounds */
        --t2-main-background-white:hsl(0, 0%, 90%);
        --t2-keypad-background-white:hsl(0, 5%, 81%);
        --t2-screen-background-white:hsl(0, 0%, 93%);
    
        /* Keys */
        --t2-key-background-cyan:hsl(185, 42%, 37%);
        --t2-key-shadow-cyan:hsl(185, 58%, 25%);
    
        --t2-key-background-orange:hsl(25, 98%, 40%);
        --t2-key-shadow-orange:hsl(35, 11%, 61%);
        
        /* Text */
        --t2-dark-grayish-yellow-text:hsl(60, 10%, 19%);
        
        /* ///////////////////////////////////////////////////////////// */
    
    /* -THEME 3- */
        /* Backgrounds */
        --t3-main-background:hsl(268, 75%, 9%);
        --t3-keypad-background:hsl(268, 71%, 12%);
    
        /* Keys */
        --t3-key-background-violet:hsl(281, 89%, 26%);
        --t3-key-shadow-violet:hsl(285, 91%, 52%);
    
        --t3-key-background-cyan:hsl(176, 100%, 44%);
        --t3-key-shadow-cyan:hsl(177, 92%, 70%);
    
        --t3-key-background-dark-violet:hsl(268, 47%, 21%);
        --t3-key-shadow-dark-violet:hsl(290, 70%, 36%);
        /* Text */
        --t3-light-yellow-text:hsl(52, 100%, 62%);
        --t3-very-dark-blue-text:hsl(198, 20%, 13%);
    }
